
    <div class="container" style="padding-top:60px">
      <div class="row" >
        <section class="main col-md-9 ">
          <article class="aboutBlk">
          <h2 class="aboutH2"> About 📝</h2> 
          <p>Hello I'm Aaron John Bivera, CPP student in seneca college. I am a international student, I took this course to persue my dream by becoming a web developer</p>
          <p>Hi!My name is What? My name is Who? My name is Chika-chika Slim Shady Hi My name is Huh? My name is What? My name is Chika-chika Slim Shady Hi! My name is What? Excuse me Can I have the attention of the class For one second.</p>
          <p>Don't tell a lie on me I won't tell the truth 'bout you Thirty millions later, my future favors The legendary status of a hip-hop rhyme savior Travel round the atlas in this spaceship candy-coated My day shift's been devoted to f****' up bundles of paper  Pi equals three-fourteen The devil's pie is big enough to justify the whole thing Wait up I done vandalized the industry full circuit The earthiest slash thirstiest nigga you know versus this Scum of a land that transcend two surfaces The richer the poorer, the bigger the picture The more blood pours.</p>
          <p>Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et imperdiet turpis. Proin aliquet, lectus ultrices fringilla lobortis, purus risus imperdiet neque, eget consectetur ligula quam non arcu. Curabitur vitae posuere elit, in faucibus felis. Suspendisse vitae nisl eget ligula condimentum bibendum in ut nulla. Etiam non lacinia turpis. Aliquam placerat est vestibulum turpis pretium elementum. Integer pharetra gravida massa, at aliquam turpis pulvinar sit amet. Nam a lectus sed mauris suscipit commodo a non ipsum. Aenean dapibus porttitor massa vitae auctor. Donec quis ultricies orci. Etiam semper, lectus vitae tristique ullamcorper, risus lectus semper nulla, quis accumsan sem leo at neque.</p>
          <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo metus. Etiam id lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et eleifend tortor. Nunc non tincidunt lorem. Integer consectetur magna felis, vel mattis diam varius id. Morbi elementum semper purus, nec ullamcorper neque mattis in. Nulla facilisi. Vivamus mollis justo eget urna bibendum sodales.</p>
          </article>
        </section>
        <aside class="col-md-3 aboutEnd" >
          <h2 class="aboutSoon">Coming Soon....</h2>
          <p>Thank You for visting my page👏.</p>
        </aside>
      </div>
    </div>
